/* PROGRESS PAGE SPECIFIC STYLES */

* {
    font-family: 'Nanum Brush Script', cursive;
  }

.race-car{
  min-height: 250px;
  display: flex;
  align-items: flex-end;
}

/* -------------------  MOBILE  --------------------- */
header {
    background-image: url(../images/wacky_races_by_classicgamer84_dcp0zjx.png);

}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
