/* PROGRESS PAGE SPECIFIC STYLES */

* {
    font-family: 'Nanum Brush Script', cursive;
  }

/* -------------------  MOBILE  --------------------- */
header {
    background-image: url(../images/wacky_races_by_classicgamer84_dcp0zjx.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

main#two-columns {
    margin: 50px 0;
    display: flex;
}

main#two-columns section {
    max-width: 50vw;
}

section#accelerate button {
    height: 300px;
    width: 300px;
    margin: 30px auto;
    border-radius: 180%;
    background-color: green;
    border-color: rgb(14, 166, 6);
    cursor: pointer;
}

.racetrack {
    position: relative;
    border: 2px green;
    width: 45px;
    height: 110px;
  }

  .race-car {
    position: absolute;
    height: 50px;
    width: 40px;
    background-size: cover;
  }
  
  .racer-name {
    position: absolute;
    top: 50px;
    font-size: 1.75rem;
    text-align: center;
  }

#big-numbers {
    font-weight: bolder;
    font-size: 70px;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
